@{
    ViewBag.Title = "Index";
}

<style>
    ul.auth{ background-color: blanchedalmond;}
</style>
<h2>Index</h2>

<p>and this is a ul with class = @ViewData["vdToggle"]...</p>
<ul class="@ViewData["vdToggle"]">
    <li>
        this
    </li>
    <li>
        is
    </li>
    <li>
        a list
    </li>
</ul>